<p>home works!</p>
<style>
.mainpart{
    height:1500px;
    width:700px;
}
.userpart{
    height:500px;
    width:700px;
}
.bookpart{
    height:500px;
    width:700px;
}
.orderpart{
    height:500px;
    width:700px;
}
</style>
<div class="mainpart">
    <!-- <div class="bookpart">
        <app-book-list></app-book-list>
    </div>
    <div class="orderpart">
        <app-order-book></app-order-book>
       </div>
    <div class="userpart">
        <app-users></app-users>
    </div> -->

<h1>Welcome To Home Page </h1>
 

</div>
 <footer>
    All Right Reserved ® and Copyrights  © BookStoreApp2022&nbsp;
    </footer>
